__pycache__/
*.py[cod]
*.swp
*.*~
*~
*.sublime-workspace
*.scannerwork
.vscode

static
build
node_modules
package-lock.json
tsconfig.tsbuildinfo

# local vite variables
.env.*.local

# rollup-plugin-visualizer output
stats.html
