

/********************************
        Fight
*********************************/
.fight {
    display: flex; // why?
    margin-bottom: var(--timeline-fight-gap, 0);
}


.icon {
    width: var(--timeline-height);
    height: var(--timeline-height);
    border-right: 1px solid black;
}


/********************************
        Player Names
*********************************/

.player_name,
.boss_name {

    width: 175px;
    height: calc(var(--timeline-height) + 1px);
    padding-right: 5px;

    border: 1px solid black;

    overflow: hidden;
    position: relative;
}


.player_name {
    background: hsl(0, 0%, 30%);
    &:hover {
        background: hsl(0, 0%, 40%);
    }
}


.boss_name {
    background: hsl(55, 80%, 80%);
    color:  hsl(45, 45%, 20%);
    font-weight: bold;
    
    &:hover {
        background:  hsl(57, 100%, 80%);
    }
}


.boss_name + .player_name,
.player_name + .player_name {
    margin-top: -1px;  // 1px overlap on border
}


/********************************
        Text Sub Elements
*********************************/


@mixin text {
    font-size: 1.2rem;
    position: absolute;

    // Y Position
    top: 50%;
    transform: translateY(-50%);
}


.name, .rank {
    @include text;
    margin-left: 4px;
}

.copy, .total {
    @include text;
    right: 5px;
}

.copy {
    // color: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
    z-index: 999;
    
    &:hover {
        opacity: 1.0;
        color: white;
    }

}



.player_name {
    // slowly fade back
    &:not(:hover) {
        .rank,
        .total,
        .copy,
        .name {
            transition-property: filter, opacity;
            transition-timing-function: ease-in;
            transition-duration: 4s;
            transition-delay: 1s;
        }
    }
}


/********************************
        Mode Overwrites
*********************************/
@mixin blur {
    filter: blur(2px);
    opacity: 0;
}


/*
V = Visible by default / hide on hover
H = Hidden by default / show on hover

     | Rank | Name | DPS | Copy
---- | ---- | ---- | --- | -----
Spec |  V   |  H   |  V  |  H
Comp |  -   |  V   |  V  |  H
User |  -   |  V   |  V  |  H
*/



// Default Blur States
.player_name:hover .total,
.player_name:not(:hover) .copy {
    @include blur;
}


// Edits for the Spec Rankings
:global .spec_ranking { :local {

    .fight:first-of-type .boss_name {
        border-top-left-radius: 0.25rem;
    }
    .fight:last-of-type .player_name {
        border-bottom-left-radius: 0.25rem;
    }

    // Only blur names on Spec Rankings, in favor of "rank"
    .player_name:not(:hover) .name,
    .player_name:hover .rank {
        @include blur;
    }
}}


:global .comp_ranking { :local {

    // round of the corners per fight
    .boss_name:first-child,
    .player_name:first-child {
        border-top-left-radius: 0.25rem;
    }

    .boss_name:last-child,
    .player_name:last-child {
        border-bottom-left-radius: 0.25rem;
    }
}}


:global .comp_ranking {
    :local {

        .player_name,
        .boss_name {
            width: calc(175px + 28px); // extra width for role icons
        }
    }
}


:global .user_report {
    :local {

        // hide top border to compensate for "fight info"-box
        .boss_name {
            border-top: none;
        }
    }
}
