.spell_button {
    position: relative;
}


.info_icon {
    position: absolute;
    font-size: 12px;
    right: 0;
    top: 0;
    cursor: help;

    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}